*{
    margin: 0px;
    padding: 0px;
}


/* Navigation Menu */

.navbar{
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    background-color: rgb(169, 227, 230); 
    justify-items: center;
}

.navbar .nav{
    display: inline-block;
}

.navbar .nav a{
    color: black;
    text-decoration: none;
    font-size: 2rem;
}

.navbar .line{
    font-weight: bolder;
    font-size: 2rem;
    margin-top: -5%;
}

.img{
    width: 15%;
    margin-left: 20px;
}


/* Buttons */

.btn{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 4%;
}

.btn .btn1{
    background-color: rgb(169, 227, 230);
    color: black;
    padding: 4px;
    border: 2px solid black;
    font-size: 1.5rem;
    border-radius: 4px;
    margin-top: 50%;
}

.btn .btn2{
    background-color: rgb(169, 227, 230);
    color: black;
    padding: 4px;
    border: 2px solid black;
    font-size: 1.5rem;
    border-radius: 4px;
    margin-top: 20%;
}

.btn .btn3{
    background-color: rgb(169, 227, 230);
    color: black;
    padding: 4px;
    border: 2px solid black;
    font-size: 1.5rem;
    border-radius: 4px;
    margin-top: 20%;
}

.btn .btn1:hover{
    cursor: pointer;
    background-color: rgb(123, 203, 207);
}

.btn .btn2:hover{
    cursor: pointer;
    background-color: rgb(123, 203, 207);
}

.btn .btn3:hover{
    cursor: pointer;
    background-color: rgb(123, 203, 207);
}


/* Images */

.container1{
    position: absolute;
}

.container2{
    position: absolute;
}

.clock{
    margin-top: 2.01%;
    width: 42%;
    margin-left: 29%;
    margin-right: 26%;
    z-index: 1;
}

.hour{
    position: absolute;
    z-index: 4;
    background-color: #955757;
    color: #955757;
    bottom: 48%;
    left: 49.5%;
    height: 20%;
    border-radius: 6px;
    width: 1%;
}

.minute{
    position: absolute;
    z-index: 4;
    background-color: #955757;
    color: #955757;
    bottom: 48%;
    left: 49.70%;
    height: 25%;
    border-radius: 4px;
    width: 0.6%;
}

.second{
    position: absolute;
    z-index: 4;
    background-color: rgb(245, 12, 109);
    color: rgb(245, 12, 109);
    bottom: 48%;
    left: 49.9%;
    height: 28%;
    border-radius: 4px;
    width: 0.2%;
}

.center{
    position: absolute;
    z-index: 5;
    background-color: #834b4b;
    color: #834b4b;
    bottom: 46%;
    left: 49%;
    height: 4%;
    border-radius: 50%;
    width: 2%;
}


/* Footer */

footer{
    position: fixed;
    background-color: rgb(36, 35, 35);
    color: white;
    padding: 1px 2px;
    margin-top: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    bottom: 0px;
    width: 100%;
}


/* Making The Website Responsive */

@media only screen and (min-width: 1000px) and (max-width: 1110px){

    .container1{
        margin-top: 2%;
    }

    .container2{
        margin-top: 2%;
    }

    .clock{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
    
    .hour{
        height: 22%;
        width: 1.1%;
        left: 49.45%;
    }
    
    .minute{
        left: 49.65%;
        height: 27%;
        width: 0.7%;
    }
    
    .second{
        left: 49.85%;
        height: 29%;
        width: 0.3%;
    }
    
    .center{
        left: 48.7%;
        height: 5%;
        width: 2.6%;
    }

    .btn .btn1{
        font-size: 1.3rem;
    }

    .btn .btn2{
        font-size: 1.3rem;
    }

    .btn .btn3{
        font-size: 1.3rem;
    }
}


@media only screen and (min-width: 900px) and (max-width: 1000px){

    .container1{
        margin-top: 4%;
    }

    .container2{
        margin-top: 4%;
    }

    .clock{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
    
    .hour{
        height: 22%;
        width: 1.1%;
        left: 49.45%;
    }
    
    .minute{
        left: 49.65%;
        height: 27%;
        width: 0.7%;
    }
    
    .second{
        left: 49.85%;
        height: 29%;
        width: 0.3%;
    }
    
    .center{
        left: 48.7%;
        height: 5%;
        width: 2.6%;
    }

    .btn .btn1{
        font-size: 1.3rem;
    }

    .btn .btn2{
        font-size: 1.3rem;
    }

    .btn .btn3{
        font-size: 1.3rem;
    }
}


@media only screen and (min-width: 700px) and (max-width: 900px){

    .container1{
        margin-top: 8%;
    }

    .container2{
        margin-top: 15%;
    }

    .clock{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
    
    .hour{
        height: 22%;
        width: 1.1%;
        left: 48.45%;
    }
    
    .minute{
        left: 49.65%;
        height: 27%;
        width: 0.7%;
    }
    
    .second{
        left: 49.85%;
        height: 29%;
        width: 0.3%;
    }
    
    .center{
        left: 48.7%;
        height: 5%;
        width: 2.6%;
    }

    .btn{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: -17%;
        left: 0px;
        width: 100%;
        justify-content: space-around;
    }

    .btn .btn1{
        font-size: 1.3rem;
        margin-top: 0px;
    }

    .btn .btn2{
        font-size: 1.3rem;
        margin-top: 0px;

    }

    .btn .btn3{
        font-size: 1.3rem;
        margin-top: 0px;
    }
}


@media only screen and (min-width: 450px) and (max-width: 700px){

    .navbar{
        grid-template-columns: 0.6fr 0.4fr 1fr;
    }

    .navbar .line{
        font-size: 1.5rem;
    }

    .navbar .nav a{
        font-size: 1.5rem;
    }

    .img{
        width: 12%;
        margin-left: 10px;
    }

    .container1{
        margin-top: 10%;
    }

    .container2{
        margin-top: 15%;
    }

    .clock{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .hour{
        height: 22%;
        width: 1.6%;
        left: 49.2%;
    }
    
    .minute{
        left: 49.5%;
        height: 27%;
        width: 1%;
    }
    
    .second{
        left: 49.7%;
        height: 29%;
        width: 0.6%;
    }
    
    .center{
        left: 48%;
        height: 5%;
        width: 4%;
    }

    .btn{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: -13%;
        left: 0px;
        width: 100%;
        justify-content: space-around;
    }

    .btn .btn1{
        font-size: 1rem;
        margin-top: 0px;
        padding: 2px;
    }

    .btn .btn2{
        font-size: 1rem;
        margin-top: 0px;
        padding: 2px;
    }

    .btn .btn3{
        font-size: 1rem;
        margin-top: 0px;
        padding: 2px;
    }
}


@media only screen and (min-width: 0px) and (max-width: 450px){

    .navbar{
        grid-template-columns: 0.6fr 0.4fr 1fr;
    }

    .navbar .line{
        font-size: 1.5rem;
    }

    .navbar .nav a{
        font-size: 1.5rem;
    }

    .img{
        width: 12%;
        margin-left: 10px;
    }

    .container1{
        margin-top: 30%;
    }

    .container2{
        margin-top: 40%;
    }

    .clock{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .hour{
        height: 22%;
        width: 1.6%;
        left: 49.2%;
    }
    
    .minute{
        left: 49.5%;
        height: 27%;
        width: 1%;
    }
    
    .second{
        left: 49.7%;
        height: 29%;
        width: 0.6%;
    }
    
    .center{
        left: 48%;
        height: 5%;
        width: 4%;
    }

    .btn{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: -20%;
        left: 0px;
        width: 100%;
        justify-content: space-around;
    }

    .btn .btn1{
        font-size: 1rem;
        margin-top: 0px;
        padding: 2px;
    }

    .btn .btn2{
        font-size: 1rem;
        margin-top: 0px;
        padding: 2px;
    }

    .btn .btn3{
        font-size: 1rem;
        margin-top: 0px;
        padding: 2px;
    }

    footer{
        font-size: 0.8rem;
    }
}
